@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

$header-height: 3rem;

:root {
  --first-color: #0396a6;
  --dark-color: #000;
  --white-color: #f2f2f2;
  --body-font: 'Open Sans', sans-serif;
  --biggest-font-size: 3.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  @media screen and (min-width: 768px) {
    --biggest-font-size: 7rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--body-font);
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.bd-grid {
  max-width: 1200px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-modal);
}

.nav {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;

  &__menu {
    @media screen and (max-width: 768px) {
      position: fixed;
      left: 0;
      top: -100%;
      background-color: rgba(0, 0, 0, 0.9);
      width: 100%;
      height: 40%;
      padding: 2rem;
      text-align: center;
      z-index: var(--z-fixed);
      transition: 0.3s;
    }
  }

  &__logo {
    // color: var(--white-color);
  }
  
  &__item {
    margin-bottom: 2rem;
  }
  
  &__link {
    color: var(--white-color);
  }

  &__toggle {
    font-size: 1.5rem;
    // color: var(--white-color);
    cursor: pointer;
  }
}

.show {
  top: $header-height;
}
